/* ForgotPassword.css */

/* Set up a gradient background for the container */
.container-bg {
    background-image: url(./img/iiita2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

/* Style the form container */
.form-container {
    background-color: rgba(255, 255, 255, 0.4); /* Slight transparency */
    padding: 3rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);  /* Optional: Adds a slight blur to the background */
    text-align: center;
}

/* Style the form heading */
.form-heading {
    margin-bottom: 1.5rem;
    color: black;
    font-size: 2rem;
}

/* Style the form labels */
.form-label {
    font-weight: bold;
    color: #333;
}

/* Add margin to form fields */
.form-field {
    margin-bottom: 1rem;
}

/* Style the submit button */
.submit-btn {
    background-color: #6c757d; /* Match register button color */
    border: none;
    padding: 0.75rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #5a6268; /* Match register button hover color */
}
